@{
    TempData["AlertClass"] = (TempData["AlertClass"] == null) ? "success" : TempData["AlertClass"];
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-@TempData["AlertClass"]">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @Html.Raw(TempData["AlertIcon"]) @Html.Raw(TempData["AlertMessage"])
    </div>
}
