<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="shortcut icon" href="/Content/Images/favicon.ico">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/styles/css")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/assets/scripts/js")
</body>
</html>